@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.container {
    width: 100%;
    min-height: calc(100vh - 20px);
    background-color: #F8F9F9;
}

.row {
    display: flex;
    justify-content: center;
}

.user {
    width: 90%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    flex-direction: row;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.user>div:nth-child(1) {
    flex: 2;
}

.user>div:nth-child(2) {
    flex: 8;
}

.info-title {
    font-size: 1.2vw;
    font-family: 'Noto Serif', serif;
    margin: 1vw 1vw;
}

.title {
    font-size: 2.5vw;
    font-weight: 500;
    font-family: 'Noto Serif, serif';
    margin-bottom: 1.5vw;
}

@media (max-width: 500px) {
    .user {
        flex-direction: column;
    }

    .info-title {
        font-size: 3.5vw;
        font-family: 'Noto Serif', serif;
        margin: 3vw 0;
    }

    .title {
        font-size: 8vw;
        font-weight: 500;
        font-family: 'Noto Serif, serif';
        margin-bottom: 5vw;
    }
}